@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');


html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  min-height: 100vh;
  background-color: #d8e7e7;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2346444a' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.quote-generetor{
  padding: 1rem;
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.4);
  box-shadow: 0 10px 10px 10px rgba(0,0,0,0.2);
}

.quote-text{
  font-size: 2rem;
}

.long-quote{
  font-size: 1.5rem;
}

.fa-quote-left, .fa-quote-right{
  font-size: 2rem;
}

.quote-author{
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
}

.button-container{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

button{
  cursor:pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(143, 211, 183);
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 2px 2px 2px rgb(122, 118, 118);
}

button:hover{
  background-color: white;
  color:black;
  box-shadow: 0 2px 2px 2px rgb(188, 240, 211)
}

button:active{
  transform: translate(0, 1.5px);
}

.twitter-button:hover{
  color:#38a1f3;
}

.fa-twitter{
  font-size: 1.2rem;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #8ad6c3;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media queries */
@media screen and (max-width: 1000px) {
  .quote-generetor{
    margin: auto 10px;
  }
}